header.header{border-bottom: 1px solid #dcdcdc;}
header.header .menu,
header.header .menu li.menu-list,
header.header .login-before{display: inline-block;}
header.header .menu{height: 80px;line-height: 70px;font-size: 0;}
header.header .menu li.menu-list{font-size: 14px;text-align: center;}
header.header .menu li.menu-list>a{display: block;padding:0 20px;border-top: 5px solid transparent;border-bottom: 5px solid transparent;color: #333;}
header.header .menu li.menu-list>a:hover,
header.header .menu li.active a:hover{border-top-color: rgba(89,207,255,.7);}
header.header .menu li.active a{border-top-color: #59cfff;}
header.header nav a.btn{width: 60px;height: 34px;line-height: 32px;text-align: center;border-radius: 30px;padding:0; border:none;}
header.header nav a.btn-primary{margin-left:36px;line-height: 34px;background: #59cfff;}
header.header nav a.btn-primary:hover{background: #34a5e4;}
header.header nav a.btn-default{margin-left:5px;border: 1px solid #c9c9c9;background: #fff;color: #666;}
header.header nav a.btn-default:hover{border-color: #59cfff;color: #59cfff;background: #fff;}
footer.footer{width:100%;font-size: 12px;color: #aaa;background: #555;}
header.header .container>a{display:block;width: 140px;}
footer.footer ul{margin:60px 0 45px 0;}
footer.footer ul li.f-tit{margin-bottom:20px;font-size: 14px;color: #fff;}
footer.footer ul li{line-height: 26px;white-space: nowrap;}
footer.footer ul li a{color: #aaa;}
footer.footer ul li a:hover{color: #aaa;text-decoration: underline !important;}
footer.footer ul.comp-detail>li a{color: #fff;}
footer.footer ul.comp-detail>li span{color: #aaa;font-size: 16px;}
footer.footer img{width: 120px;height: 120px;}
footer.footer .wx{margin-right: 30px;}
footer.footer .col-lg-4,footer .col-md-4{padding: 0;}
footer.footer .share-to{font-size: 14px;}
footer.footer .share-to p{margin-bottom: 10px;}
footer.footer .address{line-height: 50px;text-align: center;background: #393939;}
footer .news-advance{margin-right: 90px;}
footer .wqd-mess ul{margin-right: 70px;}
footer .wqd-mess ul>li a:hover{text-decoration: none !important;color: #fff;}
footer .wqd-mess ul:last-child{margin-right: 0;}
footer p.address a{color: #aaa;}
footer p.address a:hover{color: #fff;}
/*登录-成功后*/
.login-user{position:relative;display: inline-block;width: 52px;height: 52px;margin-left:83px;margin-right: 30px;padding:2px;border: 1px solid transparent;border-radius: 100%;}
.login-user:hover{border-color: #59cfff;}
.login-user img{height:100%;border-radius: 100%;}
.login-box{display:none;position:absolute;top:44px;left:-78px;background:url(../img/login-bg.png) no-repeat 0 0;width:160px;height:142px;z-index: 10;background-size: 100% 100%;}
.login-agentbox{height: 160px;background:url(../img/login-bg-agent.png) no-repeat 0 0;}
.login-list{width:140px;height:110px;margin:22px 0 0 10px;font-size: 12px;color: #666;background: #fff;}
.login-agent{height: 110px}
.login-list li{position: relative;padding-left: 36px;height: 34px;line-height: 34px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.login-list li i{position: absolute;top: 8px;left: 10px;;display:block;width:20px;height:20px;background-color: red;background:url(../img/iconBg.png) no-repeat}
.login-list li:nth-child(1) i{background-position: -4px 3px;}
.login-list li:nth-child(2) i{background-position: -109px -250px;}
.login-list li:nth-child(3) i{background-position: -208px -250px;}
.login-list li:nth-child(3) i.siteBgIcon{background-position: -208px -250px;}
.login-list li:nth-child(4) i{background-position: -208px -250px;}
.login-list li:first-child{padding-right: 12px;border-bottom: 1px solid rgba(220,220,220,.5);color: #999;}
.login-list li:nth-of-type(2){margin-top: 5px;}
.login-list li:nth-of-type(2),
.login-list li:nth-of-type(3),
.login-list li:nth-of-type(4){cursor: pointer;}
.login-list li:nth-of-type(2) a,
.login-list li:nth-of-type(3) a,
.login-list li:nth-of-type(4) a{display:block;color:#666;}
.login-list li:nth-of-type(2):hover,
.login-list li:nth-of-type(3):hover,
.login-list li:nth-of-type(4):hover{background: #59cfff;color: #fff;}
.login-list li:nth-of-type(2):hover a,
.login-list li:nth-of-type(3):hover a,
.login-list li:nth-of-type(4):hover a{color: #fff;}
.login-list li:nth-of-type(2):hover i{background-position: -108px -282px;}
.login-list li:nth-of-type(3):hover i{background-position: -168px -281px;}
.login-list li:nth-child(3):hover i.siteBgIcon{background-position: -207px -282px;}
.login-list li:nth-of-type(3):hover i{background-position: -208px -281px;}