@charset "utf-8";
::-ms-clear, ::-ms-reveal{display: none;}
body{font-size: 14px;line-height: 1.42857143;color: #333;}
label{font-weight: normal;}
/* --首页-- */
.header{background-color: #fff; border-bottom: 1px solid rgba(0,0,0,.1);}
.header.sticky{position: fixed;top: 0;left: 0;right: 0;z-index: 998;-webkit-transform: translateZ(0);}
.header .container{font-size: 12px;line-height: 1.643;}
.header .brand{display: block;margin: 25px 24px 0 0;float: left;width: 162px;height: 50px; transition: all 0.3s;}
.header .fixedb{ width:130px;margin: 10px 24px 0 0; height: auto;}
.header .resMainMenu {margin: 0 0 0 0;float: right;border-radius: 0;border:none;background-color: #fff;}
.header .navbar-default .navbar-toggle {border-color: #59c4ff;padding: 7px 6px;margin-top: 8px;margin-right: 9px;}
.header .navbar-default .navbar-toggle .icon-bar {background-color: #59c4ff;}
.header .navbar-toggle:focus, .header .navbar-toggle:hover {background-color: #59c4ff;}
.header .navbar-toggle:focus .icon-bar, .header .navbar-toggle:hover .icon-bar{background-color: #fff;}
.header .resMainMenu .navbar-collapse{padding: 0;}
.header .resMainMenu .navbar-nav{margin:0;}
.header .resMainMenu ul li{border-top: 5px solid transparent;}
.header .resMainMenu ul li.active{border-top-color: #59c4ff;}
.header .resMainMenu ul li .nava{display: inline-block;text-decoration: none;margin: 0;font-size: 14px;padding: 38px 25px 37px;font-weight: 400;color: #000;transition: all 0.3s ease-in-out 0s;}
.header .resMainMenu ul li .nava.fixeda{padding: 20px 25px;}
.header .resMainMenu ul li:hover{border-top-color: #59c4ff;}
#loregis a{margin: 38px 5px 37px;}
#loregis a:first-child{padding: 0px 3px 0px 25px;border-left: 1px solid #dcdcdc;}
#loregis a:last-child{padding: 0px 3px;}
#loregis a:hover{color: #58C5FF;}
#loregis:hover{border-top-color: transparent !important;}
#loregis a.fixeda{margin: 20px 5px 20px !important;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{background: transparent;}
.headAnima{animation:headAnima 1s ease 0ms both;-moz-animation:headAnima 1s ease 0ms both;-webkit-animation:headAnima 1s ease 0ms both;-o-animation:headAnima 1s ease 0ms both;}
.header .user{position:relative;float: right;width: 142px;height: 28px;border:1px solid #b5bcc7;border-radius: 18px;margin:36px 0 0 30px;padding-left: 15px; transition: all 0.3s;}
.header .user.fixeduser{margin: 20px 0 0 30px;}
.header .user .user-name{display: inline-block;line-height: 26px;color: #333;width:90px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.header .user .user-name:hover{color: #59c4ff;}
.header .user .pull-down{position: absolute;width: 100%;left: 0;display: inline-block;height: 26px;text-align: right;line-height: 16px;font-size: 18px;color: #9f9f9f;padding-right: 13px;}
.header .user .user-handle{display:none;position: absolute;z-index:9999;top:30px;right: 0;width: 138px; border: 1px solid #b5bcc7;border-radius: 4px;text-align: center;background-color: #fff;}
.header .user .user-handle li a{display: block;line-height: 25px;color: #333;}
.header .user .user-handle li a:hover{background-color: #59c4ff;color: #fff;}
.banner{position:relative;}
.banner .item-prev{position: absolute;left: 40px;top: 50%;margin-top: -25px;z-index: 100;opacity: 0;transition: all 400ms;}
.banner .item-next{position: absolute;right: 40px;top: 50%;margin-top: -25px;z-index: 100;opacity: 0;transition: all 400ms;}
.banner:hover .item-prev, .banner:hover .item-next{opacity: 1;}
.banner .item-prev i, .banner .item-next i{width: 50px;height: 50px;line-height: 50px;font-size: 40px;border-radius: 50%;color: #000000;text-align: center;background-color: #DDDDDD;}
.banner .item-prev i:hover, .banner .item-next i:hover{background-color: #59c4ff;color: #fff;}
.banner .carousel-inner .item{height: 700px;-webkit-transition-property: opacity;-moz-transition-property: opacity;-o-transition-property: opacity;transition-property: opacity;}
.banner .carousel-inner .item:after {content: "";position: absolute;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,.7);}
.banner .carousel-inner .item:nth-of-type(4):after{background:transparent;}
.banner .carousel-inner .active.left, .banner .carousel-inner .active.right {left: 0;opacity: 0;z-index: 1;}
.banner .carousel-inner .next.left, .banner .carousel-inner .prev.right {opacity: 1;}
.banner .describe{position:absolute;z-index:9;top:0;left:15%;width: 70%;margin: 0 auto;padding:0;text-align: center;padding-top: 135px;color: #fff;}
.banner .describe .texth1{font-size: 60px;}
.banner .item .animated1{animation:bannerAnima1 1s ease 0ms both;-moz-animation:bannerAnima1 1s ease 0ms both;-webkit-animation:bannerAnima1 1s ease 0ms both;-o-animation:bannerAnima1 1s ease 0ms both;}
.banner .describe .textp{font-size: 18px;margin:52px 0 78px;color: #cacaca;}
.banner .item .animated2{animation:bannerAnima2 1s ease 0ms both;-moz-animation:bannerAnima2 1s ease 0ms both;-webkit-animation:bannerAnima2 1s ease 0ms both;-o-animation:bannerAnima2 1s ease 0ms both;}
.banner .describe .btns{border: 1px solid transparent;text-align: center;display: inline-block;border-color: #fff;padding: 10px 75px;color:#fff;border-radius: 30px;font-size:26px;font-weight: 400;transition: all 0.8s ease-out;outline: none;}
.banner .item .animated3{animation:bannerAnima3 1s ease 200ms both;-moz-animation:bannerAnima3 1s ease 200ms both;-webkit-animation:bannerAnima3 1s ease 200ms both;-o-animation:bannerAnima3 1s ease 200ms both;}
.banner .describe .btns:hover{color: #59c4ff;background-color:#fff;transition: all 0.2s ease-out;}

#e15388{background-color: #fff;color:#222;padding:6em 0;}
#e15388 .texth1{font-size: 48px;line-height: 50px;margin-bottom: 35px;text-align: center;color: #333;}
#e15388 .texth4{font-size: 18px;line-height: 30px;text-align: center;margin-bottom: 40px;color: #555;}
#e15388 article{padding: 2em 1.5em;}
#e15388 .iconWrapper{height: 128px;width: 128px;border-radius: 50%;background-color: #59c4ff;color: #fff;font-size: 4em;margin:0 auto;text-align: center;}
#e15388 article:hover, #e15388 article:focus{background-color: #59c4ff;color:#fff;}
#e15388 article:hover .iconWrapper, #e15388 article:focus .iconWrapper{background-color:#fff;color: #59c4ff;}
#e15388 .iconWrapper i{transition: all 0.8s;line-height: 128px;transform: rotate(0deg) scale(1);}
#e15388 article:hover .iconWrapper i, #e15388 article:focus .iconWrapper i{transform: rotate(360deg) scale(1.5);}
#e15388 .texth2{font-size: 24px;line-height: 30px;text-align: center;font-weight: 400;margin-top: 30px;color: #333;}
#e15388 .textp{font-size: 17px;text-align: center;line-height: 25px;margin-top: 15px;color: #555;}
#e15388 article:hover .texth2, #e15388 article:focus .texth2{color:#fff;}
#e15388 article:hover .textp, #e15388 article:focus .textp{color:#fff;}

#showWindow{height: 720px;background: #f8f8fa url(../img/show_bg.jpg) no-repeat center 270px;background-size: 80% auto;}
#showWindow .texth1{font-size: 48px;line-height: 50px;margin:90px 0 30px 0;color: #333;}
#showWindow .texth4{font-size: 18px;line-height: 30px;color: #555;}

#feature{background-color: #59c4ff; color: #fff;padding-bottom: 50px;}
#feature .texth1{font-size: 48px;line-height: 50px;margin:90px 0 30px 0;}
#feature .texth4{font-size: 18px;line-height: 30px;margin-bottom: 60px;}

#feature2{padding-bottom: 100px;}
#feature2 .texth1{font-size: 48px;line-height: 50px;margin:90px 0 30px 0;color: #333;}
#feature2 .texth4{font-size: 18px;line-height: 30px;margin-bottom: 60px;color: #555;}
#feature2 .texta{display:inline-block;margin-top:40px;padding:13px 80px;color: #fff;background-color: #59c4ff;font-size: 26px;border-radius: 30px;transition: all 0.8s ease-out;}
#feature2 .texta:hover{background-color: #4ca8da;}
#footer{background-color: #333;padding-top: 50px;}
#footer .footer-content{margin-bottom: 45px;}
#footer .footer-1{width: 24.5614%;float: left;}
#footer .footer-1 h3, #footer .footer-2 h3, #footer .footer-3 h3{line-height: 40px;font-size: 18px;border-radius: 4px;background-color: #535353;color: #dadada;text-indent: 19px;margin-bottom: 20px;}
#footer .link-list, #footer .blogroll{padding-left: 20px;}
#footer .link-list li{float: left;width: 50%;}
#footer .link-list li a, #footer .blogroll li a, #footer .contact li a{display: block;line-height: 36px;color: #636363;font-size: 14px;}
#footer .footer-2{width: 17.7894%;float: left;margin-left: 1.7543%;}
#footer .blogroll li, #footer .contact li{float: left;width: 100%;}
#footer .footer-3{width: 27.9473%;float: left;margin-left: 1.7543%;}
#footer .footer-3 .contact{padding-left: 19px;}
#footer .contact li span{display:block;float:left;width: 34px;height: 34px;line-height:32px;margin:10px 10px 0 0;border:1px solid #979797;border-radius: 50%;color: #999;text-align: center;font-size: 14px;}
#footer .contact li a{line-height: 50px;  white-space: nowrap;}
#footer .footer-4{width: 22.6842%;float: left;margin-left: 3.5087%;}
#footer .footer-4 .erweima-left{width: 44.4444%;float: left;}
#footer .footer-4 .erweima-right{width: 44.4444%;float: right;}
#footer .footer-4 img{width: 100%;}
#footer .footer-4 h4{font-size: 14px;line-height: 40px;color: #636363;}
#footer .copyright { font-size:14px; font-family: "微软雅黑"; line-height:25px; color: #636363; text-align: center; border-top:1px solid #454545;padding: 15px 0;}
/* --模版主题-- */
#template{}
#template .template-title{font-size: 36px;font-weight: 300;line-height: 50px;margin: 80px 0 70px 0;}
#template .template-select{margin-bottom:50px;}
#template .select-left{float: left;width: 56.1403%;}
#template .select-left ul li{display: inline-block;width: 25%;line-height: 49px;border-left: 1px solid #ccc;border-top: 5px solid #f5f5f5;background-color: #f5f5f5;border-bottom: 1px solid #ccc;cursor: pointer;}
#template .select-left ul li:last-child{border-right: 1px solid #ccc;}
#template .select-left ul li.active{background-color: #fff;border-top: 5px solid #59c4ff;border-bottom: 1px solid #fff;}
#template .select-right .dropdown1{display: inline-block;width: 12%;margin-right: 5%;}
#template .select-right .dropdown1 .dropdown-toggle{height:26px;border:1px solid #ccc;border-radius: 5px;}
#template .select-right .dropdown1 .dropdown-toggle .color-icon{display:block;float: left;width: 16px;height: 16px;background-color: #59c4ff;margin: 4px 0 0 14px;}
#template .select-right .dropdown1 .dropdown-toggle span.caret{margin-right: 10px;}
#template .select-right .dropdown{cursor: pointer;}
#template .select-right{float: left;width: 43.85%;border-bottom: 1px solid #ccc;height: 55px;text-align: right;}
#template .select-right .dropdown2{display: inline-block;width: 30%;}
#template .select-right .dropdown2 .dropdown-toggle{text-align: center;line-height: 26px;border:1px solid #ccc;border-radius: 5px;}
#template .select-right .dropdown2 .dropdown-toggle span.caret{float: right;float: right;margin: 11px 10px 0 0;}
#template .select-right .dropdown2 .dropdown-menu{min-width: 50px;width: 155px;}
#template .select-right .dropdown .dropdown-menu > li > a:focus, #template .select-right .dropdown .dropdown-menu > li > a:hover {background-color: #59c4ff;color:#fff;}
#templateshow .img-box{ padding:0 25px;}
#templateshow .img-box img{width:100%;}
#templateshow .template-msg{padding:0 25px;}
#templateshow .template-msg .template-title{font-size: 18px;line-height: 58px;}
#templateshow .template-msg .user-btn{display: block;float: right;width: 110px;height: 40px;line-height: 40px;background-color: #59c4ff;color: #fff;text-align: center;border-radius: 3px;margin-top: 20px;font-size: 14px;}
#templateshow .template-msg .user-btn:hover{background-color: #4ca8da;}
#templateshow .template-msg ul{margin-bottom: 30px;margin-top: -6px;}
#templateshow .template-msg ul li{display: inline-block;font-size: 12px;color: #b3b3b3;line-height: 25px;padding-right: 25px;}
#templateshow .pagination li{float: left;margin-left: 10px;}
#templateshow .pagination li:first-child{margin-left: 0;}
#templateshow .pagination li a{display: block;width: 40px;height: 40px;line-height:40px;padding:0;float:none;border:1px solid transparent;border-color: #d9d9d9;border-radius: 4px;color: #bababa;}
#templateshow .pagination li a:hover{background-color: #59c4ff;color: #fff;}
#templateshow .pagination li.active a{background-color: #59c4ff;color: #fff;}
#templateshow .pagination li.page-prev a, #templateshow .pagination li.page-next a{font-size: 20px;}
/* --案例发现-- */
#imgbox{position:relative;height: 460px;}
#imgbox:after{content: "";position: absolute;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,.7);}
#casus .tittle-box{padding:0 15px;}
#casus .casus-title{font-size: 36px;font-weight: 300;line-height: 75px;border-bottom:1px solid #d2d2d2;margin: 50px 0 40px 0;}
#imgbox .describe{position:absolute;z-index:9;top:0;left:15%;width: 70%;margin: 0 auto;padding:0;text-align: center;padding-top: 145px;color: #fff;}
#imgbox .describe .texth1{font-size: 60px;}
#imgbox .describe .textp{font-size: 18px;margin-top:52px;color: #cacaca;}
/* -#imgbox{position:relative;height: 460px;}-支持中心-- */
#sup-imgbox{position:relative;height: 460px;}
#sup-imgbox:after{content: "";position: absolute;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,.7);}
#sup-imgbox .describe{position:absolute;z-index:9;top:0;left:15%;width: 70%;margin: 0 auto;padding:0;text-align: center;padding-top: 105px;color: #fff;}
#sup-imgbox .describe .texth1{font-size: 60px;}
#sup-imgbox .describe .textp{font-size: 18px;margin-top:52px;color: #cacaca;}
#sup-imgbox .search{width: 660px;height: 50px;margin:60px auto 0; font-size: 18px;background-color: #fff;border-radius: 5px;}
#sup-imgbox .keyword{display: inline-block;width: 76%;height: 49px;color: #333;padding: 0 1em;border:0;border-radius: 5px;}
#sup-imgbox .search-btn{display: inline-block;width: 24%;line-height: 50px;background-color:#59c4ff;color: #fff;text-align: center;border-left:1px solid #151515;border-top-right-radius:5px;border-bottom-right-radius:5px;}
#question{padding:70px 0;}
#question .question-title{height: 70px;line-height: 70px;padding: 0 30px 0 20px;background-color: #eee;border-top: 2px solid #e1e5e7;}
#question .question-title a{display: block;float: left;width: 66px;height: 66px;line-height: 66px;font-size: 34px;text-align: center;color: #59c4ff;}
#question .question-title .question-category{display: block;float: left;width: 55%;line-height: 68px;color: #59c4ff;}
#question .question-title em{display: block;font-size: 75px;line-height: 21px;float: right;color: #ccc;}
#question .question-list{padding:30px 0 30px 40px;}
#question .question-list li a{display: block;line-height: 35px;color: #333;font-size: 14px;}
#question .question-list li a:visited{color: #333;}
#question .question-list li a:hover{color: #59c4ff;}
/* --支持详情-- */
#crumbs{height: 45px;border-bottom: 1px solid #eee;color: #b4b4b4;margin: 30px 0;}
#crumbs .breadcrumb{padding:0;font-size: 14px;line-height: 30px;background-color: #fff;}
#crumbs .breadcrumb>.active{color: #b4b4b4;}
#crumbs .breadcrumb li a{color: #b4b4b4;}
#crumbs .breadcrumb li a:hover{color:#59c4ff;}
#crumbs .breadcrumb>li+li:before{content: '>';font-size: 17px;}
#article .detail{width: 82%;margin:0 auto;padding:50px 0;}
#article .detail h1{text-align: center;font-size: 36px;line-height: 50px;margin-bottom: 30px;}
#article .detail h3{font-size: 22px;line-height: 35px;margin:50px 0 20px 0;}
#article .detail p{color: #8f8f8f;line-height: 30px;font-size: 16px;margin-bottom: 15px;}
#article .detail .picbox{margin:15px auto;width: 80%;}
#article .detail .picbox img{width: 100%;}
/* --产品日志-- */
#log{padding:25px 0;}
#log .log-content{padding:0 9%;}
#log .description h2{font-size: 36px;line-height: 50px;margin:30px 0;}
#log .description p{font-size: 16px;line-height: 35px;color: #8f8f8f;margin-bottom: 25px;}
#log .history{border-top: 1px solid #ddd;}
#log .history .history-left{float: left;width: 19%;padding: 30px 0;}
#log .year-list .years{width: 70px;line-height: 30px;border-left: 6px solid #bfe8ff;text-align: center;font-size: 16px;cursor: pointer;margin-bottom: 4px;}
#log .year-list .years.active{color:#59c4ff;}
#log .year-list .years.disabled{cursor: default;color: #ccc;}
#log .month-list li{width: 70px;line-height: 30px;border-left: 6px solid #59c4ff;text-align: center;font-size: 16px;cursor: pointer;}
#log .month-list li.active{background-color: #59c4ff;color: #fff;}
#log .history .history-right{width: 80.9%;float: left;border-left: 1px solid #ddd;}
#log .history-right .detail{margin-top: 30px;border-bottom: 1px solid #ddd;}
#log .history-right .detail:last-child{border-bottom:0;}
#log .history-right .detail-title{height: 50px;}
#log .history-right .detail .detail-title span{display: block;float: left;width: 24px;height: 24px;background-color: #59c4ff;border-radius: 50%;margin-left: -12px;}
#log .history-right .detail .detail-title h3{display: inline-block;float: left;line-height: 30px;margin:-5px 10px 0 15px;}
#log .history-right .detail .detail-title label{display: inline-block;float: left;color: #ccc;}
#log .history-right .detail .detail-title a{display: inline-block;float: left;color: #ccc;}
#log .history-right .log-msg{padding:0 0 30px 40px;}
#log .history-right .log-msg li{font-size: 16px;color: #8f8f8f;line-height: 40px;}
#log .history-right .more{display: inline-block;font-size: 16px;line-height: 35px;color: #59c4ff;margin:0 0 30px 40px;}
/* --模版预览-- */
#header{background-color: #fff;box-shadow: 0 0 1px 0px #BBBBBB;position: relative;z-index: 9;-webkit-box-shadow: 0 0 1px 0px #BBBBBB;}
#header .brand{display: block;margin: 36px 24px 0 0;float: left;width: 150px;height: 50px;}
#header .preview-btn{margin: 13px 0 0 25%;float: left;}
#header .preview-list li{display: inline-block;}
#header .preview-list li a{display: block;width: 70px;height: 70px;line-height: 70px;font-size: 30px;color: #999;text-align: center;}
#header .preview-list li a:hover{color: #59c4ff;}
#header .preview-list li.active a{color: #59c4ff;}
#header .use-btn{display: block;float: right;width: 130px;height: 45px;line-height:45px;margin: 22px 50px 0 0;text-align: center;background-color: #59c4ff;border-bottom: 5px solid #0698e7;border-radius: 4px;color: #fff;}
#previewBox{position: absolute;top:0;height: 100%;width: 100%;padding-top: 86px;}
#previewBox.ipad{background: url(../img/ipad_bg.png) no-repeat center 86px;padding-top: 170px;}
#previewBox.iphone{background: url(../img/iphone_bg.png) no-repeat center 86px;padding-top: 170px;}
#previewBox .iframe-box{margin:0 auto;width:100%;height: 100%;}
.nano .pane {background: #555;width: 8px;right: 1px;margin: 5px;}
.nano .slider {background: #111;}
/* --注册 登录-- */
.header.registerHead{display: none;}
#change{display: none;}
#register{position:absolute;top: 0;left: 0;width: 100%;height: 100%;background: #59c4ff url(../img/bg.jpg) no-repeat center top;}
#register .registerBox{position: relative; width: 54.7%;background-color: #edf9ff;margin:195px auto 0;padding:35px 0 38px 35px;}
#register .registerBox .register_logo{position: absolute;display: inline-block;top: -100px;left: 0;}
#register-form{float: left;width: 55%;border-right: 1px dashed #999;padding-bottom:20px;}
#register-form li label{display: none;}
#register-form li input{width: 89%;height: 40px;line-height: 40px;padding-left: 12px;border-radius: 4px;border:1px solid #dcdcdc;}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}
#register-form li.captcha input{width: 40%;}
#register-form li.captcha a{display: block;float: right;width: 36%;line-height: 38px;font-size: 14px;text-align: center;border: 1px solid #59c4ff;color: #333;background-color:#d6f0ff;border-radius: 4px;margin:0 71px 0 0;}
#register-form li.captcha a:hover{background-color: #9fdcff;}
#register-form li.captcha a.verify{border: 1px solid #ccc;background-color: #f0f0f0;color: #b5b5b5;}
#register-form li.checkbox input{display: inline-block;width: 18px;height: 18px;padding:0;margin:0 10px 0 0;border: 1px solid #59c4ff;background: #fff;border-radius: 4px;appearance: none;-webkit-appearance: none;-moz-appearance: none;tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;-webkit-focus-ring-color: transparent;}
#register-form li.checkbox input:checked{background: #59c4ff url(../img/checked.png) no-repeat 50% 50%;}
#register-form li.checkbox a:hover{color: #59c4ff;text-decoration: underline;}
#register-form .error-msg{padding-left: 5px;font-size: 12px;color: #f00;line-height: 35px;min-height: 22px;white-space: nowrap;}
#register-form .submit{display: block;width: 155px;height: 45px;background-color: #59c4ff;color: #fff;text-align: center;line-height: 45px;border-radius: 5px;font-size: 16px;margin-top:16px;border: none;}
#register-form .submit:hover{color: #fff !important;background: #479ccb;text-decoration: none !important;}
#register .content-right{width: 43.8%;float: left;padding:0 0 0 30px;}
#register .content-right p{font-size: 16px;line-height: 30px;color: #787a7a;margin-bottom: 6px;}
#register .content-right .guide{margin-bottom: 40px;}
#register .content-right .guide a{font-size:16px;color: #59c4ff;margin-right: 10px;}
#register .content-right .guide a:hover{text-decoration: underline;}
#register .content-right .guide span{display: inline-block;width: 15px;height: 15px;line-height: 11px;background-color: #59c4ff;color: #fff;border-radius: 50%;text-align: center;}
#register .content-right .icon-list{margin-top:40px;}
#register .content-right .icon-list li{display: inline-block;width: 50px;height: 50px;border:1px solid #59c4ff; border-radius: 50%;margin-right: 10px;cursor: pointer;}
#register .register-other a{margin:6px 8px 0 0 ;display:inline-block;}
#register .register-other a img{display: none;}
#register .register-other a img:nth-child(1){display: inline-block;}
#register .register-other a:hover img:nth-child(1){display:none;}
#register .register-other a:hover img:nth-child(2){display: inline-block;}
#register .register-other{padding-bottom:10px;}
#register .registerNotice{font-size: 12px;color:red;}
#register .remoPwd{margin:30px 11% 0 0;}
#register .muserlink{color:#59c4ff;}
/* --产品功能-- */
#features .row{border-bottom: 1px solid #e7e7e7;}
#features .features-name{font-size: 36px;line-height: 50px;margin:40px 0 35px;}
.marzer{margin: 0;}
#featuresBody .unfold{display: none;}
#featuresBody .features-left{float: left;width: 24.56%;}
#featuresBody .features-list{}
#featuresBody .features-left li{position: relative;height: 50px;line-height: 49px;border-bottom: 1px solid #e7e7e7;background-color: #fafafa;cursor: pointer;border-left: 1px solid #e7e7e7;border-right: 1px solid #e7e7e7;}
#featuresBody .features-left li .iconleft{position: absolute;top: 18px;left: 30px;color: #727272; font-size: 14px;}
#featuresBody .features-left li a{display: block;color: #333;padding-left: 75px;}
#featuresBody .features-left li .iconright{display: none;position: absolute;top: 15px;right: 25px;}
#featuresBody .features-left li.active .iconright{display:inline-block;color: #59c4ff;font-size: 20px;}
#featuresBody .features-left li.active{background-color: #fff;border-left: 5px solid #59c4ff;border-right: 1px solid #fff;}
#featuresBody .features-right{float: left;width: 75.43%;}
#featuresBody .features-right .detail{width: 82%;margin:0 auto;padding:50px 0;}
#featuresBody .features-right .detail h1{text-align: center;font-size: 36px;line-height: 50px;margin-bottom: 30px;}
#featuresBody .features-right .detail h3{font-size: 22px;line-height: 35px;margin:50px 0 20px 0;}
#featuresBody .features-right .detail p{color: #8f8f8f;line-height: 30px;font-size: 16px;margin-bottom: 15px;}
#featuresBody .features-right .detail .picbox{margin:15px auto;width: 80%;}
#featuresBody .features-right .detail .picbox img{width: 100%;}
/* 注册协议 */
#agreement .detail{width: 82%;margin:0 auto;padding:50px 0;}
#agreement .detail h1{text-align: center;font-size: 36px;line-height: 50px;margin-bottom: 30px;}
#agreement .detail h3{font-size: 22px;line-height: 35px;margin:50px 0 20px 0;}
#agreement .detail h4{margin-bottom: 15px;}
#agreement .detail p{color: #8f8f8f;line-height: 30px;font-size: 16px;margin-bottom: 15px;}
.remoPwd{display: inline-block;margin-right: 20%;color: #333;margin-top: 0;line-height: 14px;}
.otherLogin{margin-top: 20px;color: #999;}
/*=============2015-09-01==============*/
.items-01{height:100%;background: url(../img/yq0kevvq0s2aiodbaafq9me9y34308.jpg) no-repeat center center;background-size: 100% auto;}
.items-02{height:100%;background: url(../img/yq0kevvq0xeapemsaafky1fotwy151.jpg) no-repeat center center;background-size: 100% auto;}
.items-03{height:100%;background: url(../img/yq0kevvq00aadj8caaex39uj_zi966.jpg) no-repeat center center;background-size: 100% auto;}
.items-04{height:100%;background: url(../img/banner-index_01.jpg)no-repeat center center;}
.items-04 img{width: 100%;}
.items-04 .container{display: table;height: 100%;}
.items-04 .con{display:table-cell;vertical-align:middle;text-align: center;color: #fff;}
.items-04 .con .tit-f{width:90px;margin-bottom:25px;margin-left: 19.5%;}
.items-04 .con .tit-s{margin-bottom:38px;font-size: 76px;line-height: 76px;}
.items-04 .con .tit-s span{color: #22de8c;}
.items-04 .con .tit-t{margin-bottom:100px;font-size: 46px;line-height: 46px;}
.items-04 .con .tit-t i{margin-right:15px;color: #cfa511;font-style: italic;}
.items-04 .con .btn-default{position:relative;width: 220px;height: 60px;line-height: 60px;padding: 0;font-size: 20px;background: #4ec29b;border-radius: 40px;border:none;color: #fff;cursor: pointer;z-index: 10;}
.items-04 .con .btn-default:hover{background: #46af8c;}
@media (min-width: 980px) and (max-width: 1169px) {
	.header .user{margin: 36px 0 0 10px;}
	.header .resMainMenu ul li .nava{padding: 40px 20px;}
	.banner .carousel-inner .item{height: 480px;}
	.banner .describe{padding-top: 125px;}
	.banner .describe .texth1{font-size: 35px;}
	.banner .describe .btns{font-size: 22px;}
	#e15388 .texth1{font-size: 38px;}
	#showWindow{height: 540px;}
	#showWindow .texth1{font-size: 38px;}
	#feature .texth1{font-size: 38px;}
	#feature2 .texth1{font-size: 38px;}
	/* --模版主题-- */
	#template .template-title{font-size: 34px;}
	#template .select-right .dropdown1{width: 14%;}
	#template .select-right .dropdown2 .dropdown-menu{width: 129px;}
	/* --案例发现-- */
	#imgbox{height: 430px;}
	#imgbox .describe{padding-top:135px;}
	#imgbox .describe .texth1{font-size: 46px;}
	/* --支持中心-- */
	#sup-imgbox{height: 430px;}
	#sup-imgbox .describe{padding-top:90px;}
	#sup-imgbox .describe .texth1{font-size: 46px;}
	#sup-imgbox .search{width:580px;}
	/* --支持详情-- */
	/* --产品日志-- */
	/* --模版预览-- */
	#header .preview-btn{margin: 13px 0 0 22%;}
	/* --注册 登录-- */
	#register .registerBox{width: 63.7%;}
	/* --产品功能-- */
	#features .features-name{font-size: 32px;}
	/* 注册协议 */
	.items-04 .con .tit-f{margin-left: 13.5%;}
}

@media (min-width: 768px) and (max-width: 979px) {
	.header .brand{margin: 10px auto 15px;float: none;}
	.header .user{position:absolute;float: none;top:10px;right:30px;margin: 8px 0 0 0;z-index: 9;}
	.header .resMainMenu {float: none;width: 100%;}
	.banner .carousel-inner .item{height: 408px;}
	.banner .describe{padding-top: 90px;}
	.banner .describe .texth1{font-size: 26px;}
	.banner .describe .btns{font-size: 18px;}
	#e15388 .texth1{font-size: 32px;}
	#e15388 .texth2{font-size: 20px;}
	#e15388 .textp{font-size: 14px;}
	#e15388 .iconWrapper{width: 108px;height: 108px;font-size: 3.5em;}
	#e15388 .iconWrapper i{line-height:108px;}
	#showWindow{height: 480px;}
	#showWindow .texth1{font-size: 32px;}
	#feature .texth1{font-size: 32px;}
	#feature2 .texth1{font-size: 32px;}
	#footer .footer-3 .contact{padding-left: 0;}
	/* --模版主题-- */
	#template .template-title{font-size: 32px;}
	#templateshow .img-box{ padding:0;}
	#templateshow .template-msg{padding:0;}
	#template .select-right .dropdown1{width: 20%;margin-right: 2%;}
	#template .select-right .dropdown2{width: 27%;}
	#template .select-right .dropdown2 .dropdown-menu{width: 90px;overflow: hidden;}
	/* --案例发现-- */
	#imgbox{height: 380px;}
	#imgbox .describe{padding-top:120px;}
	#imgbox .describe .texth1{font-size: 36px;}
	/* --支持中心-- */
	#sup-imgbox{height: 380px;}
	#sup-imgbox .describe{padding-top:68px;}
	#sup-imgbox .describe .texth1{font-size: 40px;}
	#sup-imgbox .search{width:520px;}
	/* --支持详情-- */
	#article .detail h1{font-size: 32px;}
	/* --产品日志-- */
	#log .description h2{font-size: 28px;line-height: 35px;margin: 20px 0;}
	#log .history-right .detail .detail-title h3{font-size: 20px;}
	/* --模版预览-- */
	#header .preview-btn{margin: 13px 0 0 12%;float: left;}
	#previewBox.ipad{background: none;}
	/* --注册 登录-- */
	#register .registerBox{width: 82.7%;margin: 90px auto 0;}
	/* --产品功能-- */
	#features .features-name{font-size: 28px;margin:25px 0 25px 0;}
	#featuresBody .features-right .detail h1{font-size: 32px;}
	#featuresBody .features-left li .iconleft{left: 15px;}
	#featuresBody .features-left li a{padding-left: 55px;}
	#featuresBody .features-left li .iconright{right: 15px;}
	/* 注册协议 */
	#agreement .detail h1{font-size: 32px;}
	.items-04 .con .tit-f{margin-left: 66px;}
	.items-04 .con .tit-s{font-size: 40px;line-height: 40px;}
	.items-04 .con .tit-t{font-size: 30px;line-height: 30px;}
	.items-04 .con .btn-default{height: 50px;line-height: 50px;font-size: 18px;}
}
@media (max-width: 767px){
	.header .brand{position:absolute;z-index:99;margin: 10px 0 0 10px;float: none;width: 100px;height: 30px;}
	.header .user{position:absolute;float: none;top:10px;right:58px;margin: 0;z-index: 9;}
	.header .resMainMenu {float: none;}
	.header .resMainMenu .navbar-header{height: 50px;}
	.header .user.fixeduser{margin: 0;}
	.header .resMainMenu ul li .nava {font-size: 12px;padding: 9.6px 12px !important;margin:0 !important;}
	.header .resMainMenu ul li .nava.fixeda{padding: 9.6px 12px;}
	.banner .carousel-inner .item{height: 225px; }
	.banner .item-prev{left: 10px;}
	.banner .item-next{right: 10px;}
	.banner .item-prev i, .banner .item-next i{width: 25px;height: 25px;line-height: 25px;font-size: 20px;}
	.banner .describe{padding-top: 34px;}
	.banner .describe .texth1{font-size: 16px;}
	.banner .describe .textp{font-size: 12px; margin:20px 0 30px;}
	.banner .describe .btns{padding: 4px 20px;font-size: 12px;}
	#e15388{padding: 2em 0;}
	#e15388 .texth1{margin-bottom: 20px;font-size: 24px;}
	#e15388 .texth4{font-size: 14px;padding: 0 15px;}
	#e15388 .iconWrapper{width: 80px;height: 80px;font-size: 2em;}
	#e15388 article{height: 261px; padding: 2em 10px;}
	#e15388 .iconWrapper i{line-height:80px;}
	#e15388 .texth2{font-size: 18px;}
	#e15388 .textp{font-size: 14px;}
	#showWindow{height: 280px;background-position: center 160px;}
	#showWindow .texth1{font-size: 24px;line-height: 30px;margin: 25px 0 15px 0;}
	#showWindow .texth4{font-size: 14px;padding: 0 15px;}
	#feature{padding-bottom: 20px;}
	#feature .texth1{font-size: 24px;line-height: 30px;margin: 25px 0 15px 0;}
	#feature .texth4{font-size: 14px;padding: 0 15px;margin-bottom: 20px;}
	#feature2{padding-bottom: 40px;}
	#feature2 .texth1{font-size: 24px;line-height: 30px;margin: 25px 0 15px 0;}
	#feature2 .texth4{font-size: 14px;padding: 0 15px;margin-bottom: 20px;}
	#feature2 .texta{margin-top:10px;padding:6px 50px;font-size: 16px;}
	#footer .footer-1, #footer .footer-2, #footer .footer-3, #footer .footer-4{width: 100%;float: none;margin-left: 0;}
	#footer .footer-1 h3, #footer .footer-2 h3, #footer .footer-3 h3{text-indent: 0;padding-left: 1.2em;}
	#footer .footer-3 .contact{padding-left: 20px;}
	#footer .footer-4 .erweima-left{width: 42.5%;margin-left: 5%;}
	#footer .footer-4 .erweima-right{width: 42.5%;margin-right: 5%;}
	/* --模版主题-- */
	#template .template-title{font-size: 24px;padding: 0 0.5em;margin: 40px 0 40px 0;}
	#template .template-select{display: none;}
	#templateshow .img-box{ padding:0;}
	#templateshow .template-msg{padding:0;}
	#templateshow .pagination li a{width: 25px;height: 25px;line-height: 25px;}
	/* --案例发现-- */
	#imgbox{height: 200px;}
	#imgbox .describe{padding-top:50px;}
	#imgbox .describe .texth1{font-size: 24px;}
	#imgbox .describe .textp{font-size: 14px;margin-top: 30px;}
	/* --支持中心-- */
	#sup-imgbox{height: 200px;}
	#sup-imgbox .describe{padding-top:20px;width: 90%;left: 5%;}
	#sup-imgbox .describe .texth1{font-size: 24px;}
	#sup-imgbox .describe .textp{font-size: 14px;margin-top: 16px;}
	#sup-imgbox .search{width: 250px;margin:15px auto 0;height: 30px;font-size: 12px;}
	#sup-imgbox .keyword{height: 29px;padding: 0 1em;}
	#sup-imgbox .search-btn{line-height: 30px;}
	#question{padding:30px 0;}
	#question .question-title{height: 50px;line-height: 50px;padding: 0 20px 0 10px;}
	#question .question-list{padding:25px 0 25px 10px;}
	#question .question-title a{width: 46px;height: 46px;line-height: 46px;font-size: 24px;}
	#question .question-title .question-category{font-size:18px;line-height: 48px;}
	#question .question-title em{font-size: 59px;line-height: 8px;}
	/* --支持详情-- */
	#article .detail{width: 90%;padding:20px 0;}
	#article .detail .picbox{width: 100%;margin:0;}
	#article .detail h1{font-size: 24px;}
	#article .detail h3{font-size: 18px;}
	#article .detail p{font-size: 14px;}
	/* --产品日志-- */
	#log .description h2{font-size: 24px;line-height: 30px;margin:15px 0;}
	#log .description p{font-size: 14px;}
	#log .log-content{padding:0 20px;}
	#log .history .history-left{display: none;}
	#log .history .history-right{width: 100%;float: none;}
	#log .history-right .detail .detail-title h3{display: none;}
	#log .history-right .detail .detail-title label{display: none;}
	#log .history-right .detail .detail-title a{line-height: 30px;font-size: 18px;margin-left: 10px;}
	#log .history-right .log-msg{padding:0 0 15px 12px;}
	#log .history-right .log-msg li{font-size: 14px;color: #8f8f8f;line-height: 30px;}
	#log .history-right .more{margin:0 0 20px 20px;}
	/* --模版预览-- */
	#header .preview-btn{display: none;}
	#header .brand{margin: 25px 0 0 15px;width: 110px;height: 40px;}
	#header .use-btn{width: 110px;height: 35px;line-height:35px;margin: 18px 20px 0 0;border-bottom: 2px solid #0698e7;}
	#previewBox{padding-top: 65px;}
	/* --注册-- */
	.header.registerHead{display: block;}
	#change{display:block;border-bottom: 1px solid #eee;font-size: 16px;}
	#change a.login{display: block;float:left;width: 40%;line-height: 50px;border-bottom: 5px solid #fff;color: #999;margin-left: 5%;}
	#change a.register{display: block;float:right;width: 40%;line-height: 50px;border-bottom: 5px solid #fff;color: #999;margin-right: 5%;}
	#change a.active{color: #333;border-bottom: 5px solid #59c4ff;}
	#register{position: static;height: auto; background:none;}
	#register .content-right{display: none;}
	#register .registerBox{width: 100%;background-color: #fff;margin:0;padding: 0 5%;}
	#register .registerBox .register_logo{display: none;}
	#register-form{float: none;width: 100%;border-right:0;}
	#register-form li label{display: block;line-height: 35px;}
	#register-form li input{width: 100%;margin-top:0px;}
	#register-form li.captcha input{width: 43%;}
	#register-form li.captcha a{width: 44%;margin:0px 5px 0 0;}
	#register-form li.checkbox input{display: inline-block;width: 18px;height: 18px;padding:0;margin:0 10px 0 0;border: 1px solid #2e9cce;background: #f0f0f0;border-radius: 4px;appearance: none;-webkit-appearance: none;-moz-appearance: none;tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;-webkit-focus-ring-color: transparent;}
	#register-form li.checkbox input:checked{background: #59c4ff url(../img/checked.png) no-repeat 3px 2px;}
	#register-form li.checkbox a:hover{color: #59c4ff;text-decoration: underline;}
	#register-form .error-msg{line-height: 25px;padding-left: 5px;font-size: 12px;color: #f00;}
	#register-form .submit{width: 100%;height: 40px;line-height: 40px;}
	#register .register-other,#register .registerNotice {text-align: center;}
	/* -登录-- */
	#register .content-right.onlylog{display:block;width:100%;float: none;padding: 0;}
	#register .content-right .onlyp1{display:none;}
	#register .content-right .onlya{display: none;}
	#register .content-right .onlyp2{text-align: center;margin-top:25px;}
	#register .icon-list{text-align: center;}
	/* --产品功能-- */
	#features{display: none;}
	#featuresBody .features-left{position: fixed;z-index:6;top:60px;width: 0px;overflow: hidden;}
	#featuresBody .features-left li{height: 30px;line-height: 30px;overflow: hidden;}
	#featuresBody .features-left li a{font-size: 12px;padding-left: 40px;}
	#featuresBody .features-left li .iconleft{font-size: 12px;top:9px;left: 12px;}
	#featuresBody .features-left li.active .iconright{top:8px;right:12px;font-size: 14px;}
	#featuresBody .features-right{float: none;width: 100%;}
	#featuresBody .features-right .detail{width: 90%;padding:20px 0;}
	#featuresBody .features-right .detail .picbox{width: 100%;margin:0;}
	#featuresBody .features-right .detail h1{font-size: 24px;}
	#featuresBody .features-right .detail h3{font-size: 18px;}
	#featuresBody .features-right .detail p{font-size: 14px;}
	#featuresBody .unfold{display: block;position: fixed;top:48%;width: 50px;height: 50px;line-height: 50px;border-radius: 50%;color: #fff;background: rgba(0,0,0,0.6);font-size: 26px;z-index: 8;}
	/* 注册协议 */
	#agreement .detail{width: 90%;padding:20px 0;}
	#agreement .detail h1{font-size: 24px;}
	#agreement .detail h3{font-size: 18px;}
	#agreement .detail p{font-size: 14px;}
	.items-04 .con .tit-s{font-size: 30px;line-height: 30px;margin-bottom: 15px;}
	.items-04 .con .tit-t{font-size: 16px;line-height: 16px;margin-bottom: 20px;}
	.items-04 .con .tit-f{margin-bottom: 10px;margin-left: 10px;}
	.items-04 .con .btn-default{height: 45px;line-height: 45px;font-size: 18px;}
	.header .resMainMenu ul li{border-top: none;}
	.header .resMainMenu ul li:hover{background: #59C4FF;}
	.header .resMainMenu ul li:hover a{color: #fff;}
}
/* --导航动画-- */
@keyframes headAnima {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-webkit-keyframes headAnima {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-moz-keyframes headAnima {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-o-keyframes headAnima {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
/* --banner动画-- */
@keyframes bannerAnima1 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-webkit-keyframes bannerAnima1 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-moz-keyframes bannerAnima1 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-o-keyframes bannerAnima1 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}

@keyframes bannerAnima2 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-webkit-keyframes bannerAnima2 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-moz-keyframes bannerAnima2 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-o-keyframes bannerAnima2 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}

@keyframes bannerAnima3 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-webkit-keyframes bannerAnima3 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-moz-keyframes bannerAnima3 {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	}
	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
/*@-0-keyframes bannerAnima3 {*/
	/*0% {*/
	/*opacity: 0;*/
	/*-webkit-transform: translate3d(0, 100%, 0);*/
	/*transform: translate3d(0, 100%, 0);*/
	/*}*/
	/*100% {*/
	/*opacity: 1;*/
	/*-webkit-transform: none;*/
	/*transform: none;*/
	/*}*/
/*}*/








